.root {
  background-color: #f0f2f3;
}

.header {
  color: var(--c-black-00);
  font-size: 4rem;
  font-weight: 700;
  text-align: center;
  text-transform: capitalize;

  &.bottom-gap {
    margin-bottom: 1.6rem;
  }
}

.content {
  margin-bottom: 8rem;
}

.container {
  display: flex;
  align-items: stretch;
  gap: 3.2rem;

  padding: 1.6rem 0;

  @media (max-width: 540px) {
    flex-direction: column;
    gap: 1.6rem;
    padding: 0.8rem 0;
  }

  .item {
    flex: 1 1 30rem;

    @media (max-width: 540px) {
      flex-basis: auto;
    }
  }
}
