.root {
  color: var(--c-black-00);

  &.bottom-gap {
    margin-bottom: 8rem;
  }
}

.header {
  color: var(--c-black-00);
  font-size: 4rem;
  font-weight: 700;
  text-align: left;

  @media (max-width: 1200px) {
    text-align: center;
  }

  &.bottom-gap {
    margin-bottom: 1.6rem;
  }
}

.container {
  display: flex;
  gap: 2.4rem;
  font-size: 2.4rem;
  font-weight: 400;

  @media (max-width: 1200px) {
    flex-direction: column;
    gap: 1.6rem;
  }

  & .address-item {
    flex: 1 0 33%;

    @media (max-width: 1200px) {
      text-align: center;
    }
  }
}

.img {
  height: 380px;
  object-fit: cover;
}

.slider {
  height: auto;
}
