.root {
  color: var(--c-black-00);

  &.bottom-gap {
    margin-bottom: 9.6rem;
  }
}

.header {
  color: var(--c-black-00);
  font-size: 4rem;
  font-weight: 700;
  text-align: left;

  &.bottom-gap {
    margin-bottom: 1.6rem;
  }
}

.container {
  display: flex;
  gap: 1.6rem;
  font-size: 2.4rem;
  font-weight: 400;

  & .address-item {
    flex: 1 0 33%;
  }

  & .carousel-item {
    flex: 1 0;
    border-radius: 2.4rem;
    overflow: hidden;
  }
}
