.root {
  position: fixed;
  z-index: 1000;

  width: 100%;
  height: var(--s-header);
  border-bottom: 0.1rem solid var(--c-black-00-a-2);

  background-color: var(--c-white-00);

  font-size: 1.6rem;
  font-weight: 600;
}

.brand {
  position: relative;
  margin-left: 4.4rem;

  user-select: none;

  &::before {
    content: "";
    position: absolute;
    top: -1rem;
    left: -3.2rem;
    display: inline-block;
    width: 2.4rem;
    height: 4rem;
    background-color: #6596ff;
  }

  &::after {
    content: "";
    position: absolute;
    top: 4px;
    left: -4.8rem;
    display: inline-block;
    width: 2rem;
    height: 2.8rem;
    border: 4px solid #fff;
    border-radius: 0.4rem;
    background-color: #6596ff;
  }
}

.phone {
  height: 6.6rem;
  display: flex;
  align-items: center;
  background: #ffd7a6;
  padding: 0 1.6rem;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--s-header);
}

.nav {
  height: 100%;
  display: flex;
  align-items: center;

  color: rgb(20, 20, 20);
  font-size: 1.6rem;
  font-weight: inherit;
}

.container {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

/* .nav {
  display: flex;
  align-items: center;
  gap: 1.6rem;

  height: 100%;

  color: #141414;
  font-size: 1.6rem;
  font-weight: 700;

  &.container {
    display: flex;
    align-items: center;
  }

  &.item {
    font-size: 1.6rem;
    font-weight: 700;
  }
} */
