.root {
  height: 56rem;
  color: var(--c-white-00);

  font-weight: 900;
  padding-top: 3.2rem;
  padding-bottom: 3.2rem;

  &.bottom-gap {
    margin-bottom: 4rem;
  }
}

.container {
  display: flex;
  align-items: center;
  height: 100%;
  background-image: url("/containers/main-containers.jpg");
  overflow: hidden;
  background-color: #6596ff;
  box-shadow: var(--box-shadow-00);
  border-radius: 3.2rem;
  overflow: hidden;

  color: var(--c-white-00);
}

.description {
  flex: 0 0 50%;
  margin-left: 4.8rem;
  font-size: 6.4rem;
  text-shadow: var(--c-black-00) 0.3rem 0.3rem 0.5rem;
  user-select: none;
}
