.root {
  max-width: var(--break-lg);
  padding: 0 1.6rem;
  margin: 0 auto;

  &::after {
    content: "";
    display: table;
  }

  height: 56rem;

  @media (max-width: 992px) {
    height: 48rem;
    padding: 0;
  }

  @media (max-width: 540px) {
    height: 40rem;
  }

  color: var(--c-white-00);

  font-weight: 900;

  &.bottom-gap {
    margin-bottom: 8rem;
  }
}

.container {
  display: flex;
  align-items: center;
  height: 100%;
  background-image: url("/containers/main-containers.jpg");
  overflow: hidden;
  background-color: #6596ff;
  box-shadow: var(--box-shadow-00);
  border-bottom-left-radius: 3.2rem;
  border-bottom-right-radius: 3.2rem;

  @media (max-width: 992px) {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  overflow: hidden;

  color: var(--c-white-00);
}

.description {
  flex: 0 0 50%;
  margin-left: 4.8rem;
  font-size: 6.4rem;
  text-shadow: var(--c-black-00) 0.3rem 0.3rem 0.5rem;
  user-select: none;

  @media (max-width: 540px) {
    font-size: 4.2rem;
  }
}
